# Local .terraform directories
**/.terraform*
**/*.tfvars
**/*tfplan*
**/*.tfstate*
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
**/hello-world.zip
**/response.json


# eksa binaries
**/*.tar.gz
**/eksa-*



