apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: guestbook
  labels:
    app: guestbook
    tier: frontend
spec:
  # if your cluster supports it, uncomment the following to automatically create
  # an external load-balanced IP for the frontend service.
  type: NodePort  
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    app: guestbook
    tier: frontend